ul.slick-dots {
  margin: 1.75rem 0;
  bottom: -4.375rem;
}

.slick-dots li {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 2.5rem 0.5rem;
  border: none;
  border-radius: 25px;
  background-color: #003e2f;
}

.slick-dots li.slick-active {
  background-color: #00ffc2;
}

.slick-dots > li > button {
  display: none;
}

.slick-dots li button:before {
  content: '';
}

button.ul {
  display: none;
  color: transparent;
}

/* giving 3D effect */
.slick-active > div > a > div {
  height: 37.75rem;
  align-items: center;
}

div.slick-track {
  display: flex;
  align-items: center;
}

@media (max-width: 1440px) {
  div.slick-active {
    width: 850px !important;
  }

  .slick-active > div > a > div {
    height: 28rem;
  }

  ul.slick-dots {
    margin: 1.25rem 0;
  }
  .slick-dots li {
    margin: 1rem 0.5rem;
  }
}
